<div>
  <mat-toolbar color="primary">
    <button class="mat-icon-button" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/admin">מצב ניהול</button>
      <button mat-menu-item routerLink="/game">מצב משחק</button>
    </mat-menu>
    <div class="app-name-container">
      <span class="app-name" routerLink="/">Little Linguist</span>
    </div>
    <span class="example-spacer"></span>
    <mat-icon class="toolbar-icon">person</mat-icon>
  </mat-toolbar>
</div>
