.toolbar-icon {
    padding-right: 8px;
    position: absolute;
    right: 10px;
    
}
.example-spacer {
    flex: 1 1 auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-name-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
  .app-name {
    font-size: 24px;
  }
  
  .user-icon {
    font-size: 24px;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
  }

  .mat-icon-button {
    color: white;
    background-color: #cccc00 ;
  }
  
  