<div>
  <table mat-table [dataSource]="dataSource"  >

    <ng-container matColumnDef="categoryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>שם מחלקה</th>
      <td mat-cell *matCellDef="let category">{{ category.categoryName }}</td>
    </ng-container>

    <ng-container matColumnDef="numberOfWords">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>מספר מילים</th>
      <td mat-cell *matCellDef="let category">{{ category.words?.length || 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="lastModificationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>תאריך שינוי אחרון</th>
      <td mat-cell *matCellDef="let category">{{ category.lastModificationDate }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>פעולות</th>
      <td mat-cell *matCellDef="let category">
        <button mat-icon-button (click)="editCategory(category)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteCategory(category.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div>
  <br><br><br>
  <button class="new-category-btn"  routerLink='/newcategoryform'
  mat-button 
  routerLink="/newcategory">New Category</button>
</div>
