<div>
<mat-table [dataSource]="categories">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>שם</mat-header-cell>
    <mat-cell *matCellDef="let category">{{ category.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="words">
    <mat-header-cell *matHeaderCellDef>מספר מילים</mat-header-cell>
    <mat-cell *matCellDef="let category">{{ category.words }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastModified">
    <mat-header-cell *matHeaderCellDef>תאריך שינוי אחרון</mat-header-cell>
    <mat-cell *matCellDef="let category">{{ category.lastModified }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>פעולות</mat-header-cell>
    <mat-cell *matCellDef="let category">
      <button mat-icon-button (click)="editCategory(category)"><mat-icon>edit</mat-icon></button>
      <button mat-icon-button (click)="deleteCategory(category)">
        <mat-icon>delete</mat-icon></button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
</div>
<div>
  <button class="new-category-btn" mat-button color="basic" (click)="navigateToNewCategory()">New Category</button>

</div>